# Supabase Connection Keys
# Replace these with your actual Supabase project URL and anon public key
EXPO_PUBLIC_SUPABASE_URL=https://huaqksfdylflgboifoxj.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_pkCT7qBaAZhYkMVJkIwXpw_GgUCCWCf
